body {
    background: beige;
}

h1 {
    text-align: center;
}


a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }

  .menu {
      background: burlywood;
  }